requests
beautifulsoup4
pandas
fake-useragent
lxml
undetected_chromedriver
selenium
numpy
yfinance
fastapi
uvicorn
pydantic
python-dotenv
schedule
sqlalchemy
psycopg2-binary
ta-lib
scikit-learn
newsapi-python
python-dateutil
logging
aiohttp
python-dateutil
openpyxl